* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../imagens/wallpaper/mario-kart.jpg) no-repeat fixed;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.664);
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.container h1 {
    margin: 30px auto;
    text-align: center;
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.container p {
    text-align: center;
}