* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../imagens/wallpaper/mario-kart.jpg) center no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INSTRUÇÕES */

.instrucoes {
    background-color: rgba(255, 255, 255, 0.705);
    margin: 50px auto 50px auto;
    text-align: center;
    max-width: 600px;
    line-height: 50px;
}

.instrucoes > h1 {
    font-size: 3em;
}

.instrucoes > ul,li {
    list-style-type: none;
    font-family: monospace;
    font-size: 1.2em;
}


/* BOTÃO INICIAR */

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.664);
    border: 2px solid white;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2px #000000b5;
    transition: all 0.25s ease;
}

.botao:hover { 
    width: 275px;
    height: 275px;
    font-size: 1.2em;
    box-shadow: 0px 0px 20px 3px #000000b5;
}

a { 
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
