* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #0B88FF; 
    background-image: url("../imagens/wallpaper/fundo-background-ampliado.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*--SELETOR DE JOGOS--*/

.container-jogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.596);
    max-width: 1100px;
    margin: 0 auto;
}

.jogo {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: lightgreen;
    padding: 5px;
    width: 250px;
    margin: 5px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.jogo:hover {
    cursor: pointer;
    background-color: green;
}

.jogo > img {
    max-height: 90px;
}

.tamanhoDoJogo {
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    width: 100%;
    margin-top: 5px;
}

.res {
    display: none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px 1px black;
    font-size: 2em;
    position: fixed;
    top: 0%;
    right: 0%;
    transform: translate(-50%, -0%);
}

/*---FORMULARIO--*/

form {
    font-size: 2em;
    text-align: center;
}

#text-area-id {
    display: none; 
}

.tamanhoHd {
    font-size: 1em;
    text-align: center;
    padding: 10px;
    height: 40px;
}

input[name="radioTamanhoHd"]:hover {
    cursor: pointer;
}

input[name="radioTamanhoHd"] {
    margin-right: 20px;
}

label[for="pen60gb"]:hover, label[for="hd500gb"]:hover, label[for="hd1tb"]:hover {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

#botaoDeEnviar {
    padding: 10px;
    margin-bottom: 20px;
}

/*--Audio--*/

#audio {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.527);
    width: 100px;
    height: 100px;
}

#audio:hover {
    cursor: pointer;
}

#audio > .material-icons {
    width: 100%;
    height: 100%;
    font-size: 6em;
}

/*--Filtros--*/

#filtrosContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.644);
    margin-bottom: 20px;
    max-width: 1100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    align-items: center; 
}

.itensFiltro {
    display: flex;
    width: 150px;
    border-radius: 25px;
    padding: 5px;
    height: 60px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.itensFiltro:hover {
    cursor: pointer;    
}

.itensFiltro > p {
    font-weight: bold;
    opacity: 100%;
}

.itensFiltro .material-icons {
    font-size: 4em;
}

.checkBoxDoFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    width: 22px;
    height: 22px;
    background-color: transparent;
    margin-left: 5px;

}

#filtroAutoCompletar {
    display: flex;
    width: 200px;
}

#checkBoxFiltroAutoCompletar {
    width: 45px;
    margin-right: 5px;
}

.segundoContainerFiltro {
    display: flex;
    flex-direction: column;
    line-height: 2px;
    font-size: small;
    gap: 2px;
}

#filtroTodosOsMarios {
    background: url(../imagens/fundosfiltros/mario.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 50%;
}

#filtroTodosOsMarios:hover {
    opacity: 100%;
}

 /* NAVEGAÇÃO */

.container-navegacao {
    display: flex;
    background: rgba(255, 255, 255, 0.582);
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1100px;
    margin: 10px auto;
    color: blue;
}

.container-navegacao *:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container-botao-voltar-ao-inicio {
    display: none;
    position: fixed;
    left: 85%;
    top: 85%;
    height: 100px;
    width: 100px;
}

#idDoBotaoDeVoltarAoTopo {
    width: 100%;
    height: 100%;
    background: #ffffffa3;
    text-align: center;
    font-size: 6em;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px;
}

#idDoBotaoDeVoltarAoTopo:hover {
    cursor: pointer;
    border: 1px solid black;
}

#imagemMaior {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px 2px;
}
