* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B88FF; 
    background-image: url("../imagens/wallpaper/fundo-background-ampliado.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container-jogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.596);
    max-width: 1100px;
    margin: 0 auto;
}

.jogo {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: lightgreen;
    padding: 5px;
    width: 200px;
    margin: 5px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.jogo:hover {
    cursor: pointer;
    background-color: green;
}

.jogo > img {
    max-height: 70px;
}

.tamanhoDoJogo {
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    width: 100%;
    margin-top: 5px;
}

.res {
    display: none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px 1px black;
    font-size: 2em;
    position: fixed;
    top: 0%;
    right: 0%;
    transform: translate(-50%, -0%);
}

#text-area-id {
    display: none;
}

form {
    font-size: 2em;
    text-align: center;
}

.tamanhoHd {
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

#audio {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.527);
    width: 100px;
    height: 100px;
}

#audio:hover {
    cursor: pointer;
}

.material-icons {
    width: 100%;
    height: 100%;
    font-size: 6em;
}

#botaoDeEnviar {
    padding: 10px;
    margin-bottom: 20px;
}